/* INÍCIO RESET CSS */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FIM RESET CSS */

/* INÍCIO HEADER */
a 
{
    color:black;
    text-decoration: none;
    font-family: sans-serif;    
}

a:hover
{
    background: rgba(0,0,0, .05);
}

#logo
{
    font-size: 1.5rem;
    font-weight: bold;
}

#header
{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e7e7e7;
}

#menu
{
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a
{
    display: block;
    padding: .5rem;
}

#btn-mobile
{
    display: none;
    cursor: pointer;
}

/* INÍCIO MENU MOBILE */

@media (max-width: 4000px)
{
    #btn-mobile
    {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }

    #menu
    {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background-color: #e7e7e7;
        height: 0;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu
    {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow: auto;
    }

    #menu a 
    {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0,0,0, .05)
    }

    #hamburguer
    {
        width: 20px;
        border-top: 2px solid;
        color: black;
    }

    #hamburguer::after, #hamburguer::before
    {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer
    {
        border-top-color: transparent;

    }

    #nav.active #hamburguer::before
    {
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after
    {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/* FIM MENU MOBILE */

/* FIM HEADER */

/* INÍCIO ÁREA INICIAL */
#area-inicial
{
    display: flex;
}

#area-inicial picture
{
    display: inline-block;
    width: 55%;
}

#area-inicial section
{
    display: inline-block;
    width: 45%;
}

.alinha
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

#area-inicial picture div img
{
    width: 100%;
}

@font-face 
{
    font-family: fonte;
    src: url(font/fonte.TTF);
}

#portfolio
{
    color: blue;
    font-weight: bold;
    font-family: fonte;
    font-size: 25pt;
}

#henrique
{
    color:black;
    font-weight: normal;
    font-family: sans-serif;
}
/* FIM ÁREA INICIAL */

/* INÍCIO RODAPÉ */

#footer
{
    margin-top: 10px;
    padding-top: 10px;
    background-color: #e7e7e7;
}

#footer article
{
    display: flex;
    width: 100%;
}

#footer article section
{
    display: inline-block;
}

#redessociais
{
    width: 50%;
}

#mapadosite
{
    width: 50%;
    list-style: none;
}

#copyright
{
    display: flex;
    background-color: black;
    justify-content: center;
}

#copyright h4
{
    color: white;
}

.map-linha
{
    border: 1px solid #3b5efa;
    width: 100px;
    margin: 0 auto;
}

#mg-icon-map-gh
{
    margin-right: 5px;
}

#mg-icon-map-lk
{
    margin-left: 5px;
}

.al-ft
{
    display: flex;
    justify-content: center;
}

#icon-rs
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#txt-ms
{
    display: flex;
    justify-content: space-around; 
    margin-top: 10px;
}

#txt-ms a
{
    padding: 10px;
    font-family: fonte4;
    font-size: 15pt;
}

#txt-ms a:hover
{
    color:white;
    transition: .3s;
    background-color: blue;
    border-radius: 20px;
    font-weight: bold;
}

.txt-mpst
{
    font-weight: bold;
    font-family: fonte4;
    font-size: 20pt;
}

#icon-rs a:hover
{
    color: blue;
}

@font-face {
    font-family: fonte4;
    src: url(font/fonte4.ttf);
}
/* FIM RODAPÉ */