/* INÍCIO RESET CSS */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FIM RESET CSS */

/* INÍCIO VARIÁVEIS */
:root
{
    --cor-hover-link: blue;
    --cor-skills: #222725;
}
/* FIM VARIÁVEIS */

/* INÍCIO HEADER */
#header a
{
    text-decoration: none;
    font-family: fonte4;
    font-weight: bold;
}

#menu li a 
{
    color: white;
    text-decoration: none;
    font-family: fonte4;
    font-size: 15pt;  
}

#menu li a:hover
{
    color: var(--cor-hover-link);
    transition: .3s;
}

#logo
{
    font-size: 1.5rem;
    font-weight: bold;
}

#header
{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: .3s;
}

header a, nav button
{
    color: white;
}

header.rolagem
{
    background-color: #e7e7e7;
}
header.rolagem a
{
    color: black;
}

header.rolagem #menu a
{
    color: black;
    text-decoration: none;
    font-family: fonte4;  
    font-weight: bold; 
}

header.rolagem #menu a:hover
{
    border-radius: 20px;
    background-color: blue;
    color: white;
    transition: .3s;
}

#menu
{
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a
{
    display: block;
    padding: .5rem;
}

#btn-mobile
{
    display: none;
    cursor: pointer;
}

/* INÍCIO MENU MOBILE */

@media (max-width: 600px)
{
    #btn-mobile
    {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
    }

    #menu
    {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background-color: #e7e7e7;
        height: 0;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu
    {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow: auto;
    }

    #menu a 
    {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0,0,0, .05)
    }

    #hamburguer
    {
        width: 20px;
        border-top: 2px solid;
        color: white;
    }

    #hamburguer.rolagem
    {
        width: 20px;
        border-top: 2px solid;
        color: black;
    }

    #hamburguer::after, #hamburguer::before
    {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer
    {
        border-top-color: transparent;

    }

    #nav.active #hamburguer::before
    {
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after
    {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/* FIM MENU MOBILE */

/* FIM HEADER */

/* INÍCIO ÁREA INICIAL */
#area-inicial
{
    width: 100%;
    height: 700px;
    background: linear-gradient(0, #120c56, #000000);
    overflow: hidden;
}

.stars
{
    width: 3px;
    height: 3px;
    border-radius: 50%;
    /* box-shadow: 50px 30px white,
    100px 80px white,
    80px 120px white,
    300px 20px white,
    250px 130px white,
    200px 50px white,
    150px 100px white,
    320px 100px white,
    450px 150px white,
    500px 150px white,
    600px 200px white,
    550px 200px white,
    650px 250px white,
    680px 250px white,
    1000px 300px white,
    1000px 400px white,
    1500px 350px white,
    800px 500px white,
    900px 700px white,
    1450px 150px white,
    1430px 150px white,
    1550px 20px white,
    1600px 80px white,
    675px 130px white,
    1700px 200px white,
    2200px 80px white,
    3000px 70px white; */
    box-shadow: calc(50px * (1000 / 350)) calc(30px * (700 / 150)) white,
              calc(100px * (1000 / 350)) calc(80px * (700 / 150)) white,
              calc(80px * (1000 / 350)) calc(120px * (700 / 150)) white,
              calc(300px * (1000 / 350)) calc(20px * (700 / 150)) white,
              calc(250px * (1000 / 350)) calc(130px * (700 / 150)) white,
              calc(200px * (1000 / 350)) calc(50px * (700 / 150)) white,
              calc(150px * (1000 / 350)) calc(100px * (700 / 150)) white,
              calc(320px * (1000 / 350)) calc(100px * (700 / 150)) white;
    animation: anim-stars 10s linear infinite;
    position: relative;
	width: 3px;
	height: 3px;
}

@keyframes anim-stars 
{
    from {
        transform: translateY(0vh);
    }
    to {
        transform: translateY(-100vh);
    }
}

.stars::after
{
    content: " ";
    position: absolute;
    top: 100vh;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    /* box-shadow: 50px 30px white,
      100px 80px white,
      80px 120px white,
      300px 20px white,
      250px 130px white,
      200px 50px white,
      150px 100px white,
      320px 100px white; */
      box-shadow: calc(50px * (1000 / 350)) calc(30px * (700 / 150)) white,
              calc(100px * (1000 / 350)) calc(80px * (700 / 150)) white,
              calc(80px * (1000 / 350)) calc(120px * (700 / 150)) white,
              calc(300px * (1000 / 350)) calc(20px * (700 / 150)) white,
              calc(250px * (1000 / 350)) calc(130px * (700 / 150)) white,
              calc(200px * (1000 / 350)) calc(50px * (700 / 150)) white,
              calc(150px * (1000 / 350)) calc(100px * (700 / 150)) white,
              calc(320px * (1000 / 350)) calc(100px * (700 / 150)) white;
}

.stars2
{
    position: relative;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    /* box-shadow: 15px 15px white,
      125px 35px white,
      50px 80px white,
      10px 120px white,
      275px 90px white,
      230px 10px white,
      120px 130px white,
      300px 130px white,
      220px 115px white; */
      box-shadow: calc(15px * (1000 / 350)) calc(15px * (700 / 150)) white,
              calc(125px * (1000 / 350)) calc(35px * (700 / 150)) white,
              calc(50px * (1000 / 350)) calc(80px * (700 / 150)) white,
              calc(10px * (1000 / 350)) calc(120px * (700 / 150)) white,
              calc(275px * (1000 / 350)) calc(90px * (700 / 150)) white,
              calc(230px * (1000 / 350)) calc(10px * (700 / 150)) white,
              calc(120px * (1000 / 350)) calc(130px * (700 / 150)) white,
              calc(300px * (1000 / 350)) calc(130px * (700 / 150)) white,
              calc(220px * (1000 / 350)) calc(115px * (700 / 150)) white;
    animation: anim-stars 20s linear infinite;
}
  
.stars2::after
{
    content: " ";
    position: absolute;
    top: 100vh;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    /* box-shadow: 15px 15px white,
      125px 35px white,
      50px 80px white,
      10px 120px white,
      275px 90px white,
      230px 10px white,
      120px 130px white,
      300px 130px white,
      220px 115px white; */
      box-shadow: calc(15px * (1000 / 350)) calc(15px * (700 / 150)) white,
              calc(125px * (1000 / 350)) calc(35px * (700 / 150)) white,
              calc(50px * (1000 / 350)) calc(80px * (700 / 150)) white,
              calc(10px * (1000 / 350)) calc(120px * (700 / 150)) white,
              calc(275px * (1000 / 350)) calc(90px * (700 / 150)) white,
              calc(230px * (1000 / 350)) calc(10px * (700 / 150)) white,
              calc(120px * (1000 / 350)) calc(130px * (700 / 150)) white,
              calc(300px * (1000 / 350)) calc(130px * (700 / 150)) white,
              calc(220px * (1000 / 350)) calc(115px * (700 / 150)) white;
}  

#texto-ai
{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    width: 100%; 
    height: 100%;
}

#texto-ai h1
{
    color: white;
    font-family: fonte4;
    font-size: 30pt;
}

#texto-ai h1 span
{
    color: orange;
}
/* FIM ÁREA INICIAL */

/* INÍCIO ABOUT */
#about
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#about article
{
    width: 50%;
}
/* FIM ABOUT */

/* INÍCIO SKILLS */
#skills
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#skills article
{
    width: 50%;
}
/* FIM SKILLS */

/* INÍCIO PROJECT */

/* FIM PROJECT */

/* INÍCIO RODAPÉ */

#footer
{
    /* margin-top: 10px; */
    padding-top: 10px;
    background-color: #e7e7e7;
}

#footer article
{
    display: flex;
    width: 100%;
}

#footer article section
{
    display: inline-block;
}

#redessociais
{
    width: 50%;
}

#mapadosite
{
    width: 50%;
    list-style: none;
}

#copyright
{
    display: flex;
    background-color: black;
    justify-content: center;
}

#copyright h4
{
    color: white;
}

.map-linha
{
    border: 1px solid #3b5efa;
    width: 100px;
    margin: 0 auto;
}

#mg-icon-map-gh
{
    margin-right: 5px;
}

#mg-icon-map-lk
{
    margin-left: 5px;
}

.al-ft
{
    display: flex;
    justify-content: center;
}

#icon-rs
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#icon-rs a 
{
    color: black;
}

#txt-ms
{
    display: flex;
    justify-content: space-around; 
    margin-top: 10px;
}

#txt-ms a
{
    padding: 10px;
    font-family: fonte4;
    font-size: 15pt;
    color: black;
    text-decoration: none;
}

#txt-ms a:hover
{
    color:white;
    transition: .3s;
    background-color: blue;
    border-radius: 20px;
    font-weight: bold;
}

.txt-mpst
{
    font-weight: bold;
    font-family: fonte4;
    font-size: 20pt;
}

#icon-rs a:hover
{
    color: blue;
}

@font-face {
    font-family: fonte4;
    src: url(font/fonte4.ttf);
}
/* FIM RODAPÉ */